<h1>Thank you!</h1>

Thanks for using Stadium Express.<br/> <br/> 
We hope you enjoyed the experience.<br/>
Have a great day! </br></br>

<div class="stand_lines">
	<%= link_to 'New Order', stands_path %>
</div>