<table>
	<tr></tr>
	<tr></tr>
	<tr></tr>
</table>

<div style= "width:95%;height:75px;border-bottom:1px solid white;">
	<h1>Thank you!</h1>
</div>

</br>
Thanks for using Stadium Express.<br/> <br/> 
Go back to the Stadium Express <br/>
Concession Stand to receive your <br/>
order (free food!) as well as <br/>
give us any feedback you have! </br></br>



<div class="stand_lines">
	<%= link_to image_tag("neworder.png", :border => 0), stands_path %>
</div>
