<h1>Thank you!</h1>

Thanks for using Stadium Express.<br/> <br/> 
Go back to the Stadium Express <br/>
Concession Stand to receive your <br/>
order (free food!) as well as <br/>
give us any feedback you have! </br></br>

The first 25 participants will receive </br>
a free chips and quac card for Chipoltle! </br></br>

Also, don’t forget - The Penn Relays <br/>
are coming back to historic Franklin <br/>
Field on April 28-30. See the best <br/>
Track and Field athletes in the <br/>
world compete and witness a true <br/>
Philadelphia tradition. Tickets are <br/>
available now by calling </br>1–855–UofP–TIX <br/>
or online at ThePennRelays.com. <br/></br>



<div class="stand_lines">
	<%= link_to 'New Order', stands_path %>
</div>