<table>
	<tr></tr>
	<tr></tr>
	<tr></tr>
</table>

<div style= "width:95%;height:75px;border-bottom:1px solid white;">
	<h1>Thank you!</h1>
</div>

</br>
Thanks for using Stadium Express!<br/> <br/> 
Your order will be with you shortly.<br/> <br/> 
If you have any comments on our Demo Day presentation, please let us one of the Stadium Express team members know. Or you can email us at stadiumexp@gmail.com<br/> <br/> 


We couldn't have done this without the help of Penn Athletics Facilities.
So don't forget to attend The Penn Relays that are coming up next weekend to historic Franklin Field on April 28-30. See the best Track and Field athletes in the world compete and witness a true Philadelphia tradition. Tickets are available now by calling 1–855–UofP–TIX or online at ThePennRelays.com.<br/> <br/> 

 Thanks again and have a good day!<br/> <br/> 


<div class="stand_lines">
	<%= link_to image_tag("neworder.png", :border => 0), stands_path %>
</div>
