/*common colors
light orange #FFDABF darker organge #EEAA77
light blue Powderblue
also nice blue 66CCFF
dark grey #383838
medium grey #686868
dusty blue #0099CC (now 00638B) 2A458B
dusty green #58A171
*/

/*Menu Items*/
#store #notice {
        color: white;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: black;
        font: bold smaller sans-serif;
}

/*All h1 headers*/
#store h1 {
    	font: Tahoma, sans-serif;
		font-size: 40px;
		font-style: italic;
        color: white;
		line-height: 1.5em;
		text-align: left;
		width: 90%;
}

/*All h2 headers*/
#store h2{
	font-size: 40px;
	font-color: white;
}

/*All h3 headers*/
#store h3{
  font-size: 50px;
  color: white;
  font-family: helvetica;
  text-align: center;
}

/*double spacing the store and vendor*/
#store table tr td{
	line-height: 1.5em;
}

#main table tr td{
	line-height: 1.5em;
}

/*Banner Layout*/
#banner {
  font: Tahoma;
  background: black;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0em; /*nocentered but leaves room for logo*/
  color: Powderblue;
  text-align: center;
  font-size: 0px;
  width: 99.99%;
}

/*Banner Image Layout*/
#banner img {
  float: center;
  width: 95%;
}

/*Stripe Layout*/
#stripe{
	background: black;
	color: white;
	vertical-align: top;
	padding-right: 0px ;
	padding-left: 0px;
	border-bottom:0em solid white;
    font-size:20px;
	line-height: 2em;
	text-align: right;
    width: 96%;
}

/* Styles for the cart in the stripe */
#stripe #cart table { 
	border-top: 3px;
	border-bottom: 3px;
	margin-bottom: 10px;
	background: black;
	float: center;
	padding-left:2em;
	width: 90%
}

/*Style of "Your Cart" - if this does not change, it is overwritten by h1*/
#stripe #cart .cart_title{
	font-weight: bold;
	color: white;
	font-style: italic;
	background: black;
	font-size:45px;
	padding-top: 1em;
	padding-bottom: .5em;
	border-bottom: 1px solid white;
	width: 95%
}

/*User body formatting for all pages (everything below stripe and above bottom)*/
#main {
  padding-left: 5%;
  padding-top: .02em;
  padding-bottom: 10px;
  background: black;
  width: 90%; /*1175px goog*/
}

/*Formatting for having Vendor Login in the Bottom of each page*/
#bottom {
  padding-top: .02em;
  padding-bottom: 30px;
  background: black;
  width: 99.9%;
  text-align: center;
  font-color: white;
  font-size: 20px;
  font-style: italic;
}

/*Vendor body formatting for all pages (everything below stripe and above bottom)*/
#main2 {
  padding-left: 5%;
  padding-bottom: 10em;
  background: black;
  font-size: 20px;
  font-color: white;
  width: 95%;
  line-height: 1.25em;
}


#side2 {
  float: left;
  position: absolute;
  width: 4em; /*small box width, 4em for 20px is min to get vendor login to one page*/
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  background: #383838;
  line-height: 1em;
}

/* Styles for the cart in the stripe */
#cart, #cart table td{
	font-size: 40px;
	color: white;
	width: 100%;
	text-align: left;
	background-color:black;
}

/*Sizing of text boxes in forms*/
.depot_form select, .depot_form textarea, .depot_form input {
	  padding-top: 4em;
	  padding bottom: .5em;
}

/*Sizing of text boxes once logged in*/
.log .depot_form select, .depot_form textarea, .depot_form input {
	  padding-top: 2em;
	  padding bottom: .5em;
}

/*Margin around*/
.depot_form div {
  margin: 0.5em;
}



/* Styles for products/index */
#product_list table {
	  border-collapse: collapse;
	  border: 4px solid white;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
  padding-left: 4.5em;
}

#product_list .list_description {
  width: 60%;
}

/*Formatting for product list*/
#product_list .list_description dl {
	font-size: 20px;
    margin: 0;
    line-height: 1.75em;
	width: 25em;

}

#product_list .list_description dt {
	color:        white;
	font-weight:  bold;
	font-size:    30px;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    small;
  text-align:   left;
  padding-left: 1em;
  padding-top: 1.25em;
}

#product_list .list_line_even {
  background:  black;
}

#product_list .list_line_odd {
  background:  black;
}

.confirmation{
	background: black;
	line-height:1.2em;
}

.subj{
	text-align:left;
}

#form{
	background: black;
	line-height:1.5em;
	text-align: left;
}
#main2 .order_list{
	text-align: center;
}
#main2 #history .order_list td{
	text-align: center;
}

/*Commented out CSS*/

/*
.depot_form legend {
  color: white;
  background: black;
  border: 4px solid white;
  font-family: sans-serif;
  padding: 0.2em .5em;
}*/

/*.depot_form label {
  width: 10em;
  float: left;
  text-align: left;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}*/

/*#store .entry form, #store .entry form div {
	display: inline;
}*/

/*#store .entry {
	text-align: center;
	font-color: white;
}*/

/*#main .total_line{
	line-height: 1.5em;
	width: 100%;
	font-weight: bold;
}*/

/*#cart, #cart table { 
	font-size: smaller; 
	background: black;*/
/*	padding-left: .5em;
*/

/*#stripe #cart .total_line tr{
  font-weight:bold;
  font-size: 24px;
  font-style: italic;
  line-height: 1em;
  background: black;
}*/

/*#stripe #cart .total_cell td{
  font-size: 60px;
  font-style: italic;
  line-height: 1em;
  font-weight:bold;
  background: black;
}*/

/*#main2 table tr{
	font-size: 25px;
	text-align: left;
	font-color: white;
}

#main2 table td, #main2 table th{
	font-size: 25px;
	text-align: left;
    font-color: white;
}*/

/*#store body{
	width: 80%;
}*/

/*.location{
	padding: .1em;
	background: white;
	font-style: italic;
	color: #EFE66E;
}*/


/*.stand_lines a { 
	padding: .2em;
	margin-bottom: 3em;
	background-color:black; 
	padding:.2em;
	line-height:2em;
	 }
	*/
/*.stand_lines a:hover { color: Azure; 
		background-color:#383838; 
		border: 2px solid #0099CC;
		padding:.2em;
		}*/
		
		/*.cart_items{
			background:#EBF1FF;
			padding-left: .5em;
			padding-right: 1em;
			text-align:left;
		}*/