/* Global styles */
/*@font-face {
    font-family: 'StMarieThin';
    /*src: url('stmarie-thin-webfont.eot');
        src: url('stmarie-thin-webfont.eot?iefix') format('eot'),
             url('stmarie-thin-webfont.woff') format('woff'),
             url('stmarie-thin-webfont.ttf') format('truetype'),
             url('stmarie-thin-webfont.svg#webfont5hcmjba2') format('svg');*/
    /*font-weight: normal;
        font-style: normal;

    }*/


#store .entry form, #store .entry form div {
	display: inline;
}

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#store h1 {
/* 		font-family: 'StMarieThin';*/
		font-size: 50px;
        color: #226;
        border-bottom: 8px dotted #77d;
}

#store h2{
	font-size: 40px;
}


/* START:mainlayout */
/* Styles for main page */

#banner {
/* font-family: 'StMarieThin';*/
 background: Steelblue;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid;
  color: Midnightblue;
  text-align: center;
  font-size: 50px;
  font-weight: 300% bold;
}

#banner img {
  float: left;
}

#columns {
  background: Midnightblue;
}

#main {
  margin-left: 30em; /*column width*/
  padding-top: 4ex;
  padding-left: 2em;
  background: Gainsboro;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: Midnightblue;
}

#side a {
  color: Powderblue;
  font-size: 24px;
}

#columns.cust{
	color: red;
  font-size: 24px;
}

/* END:mainlayout */

/* Styles for the cart in the main page */
#store .cart_title {
/*font-family: 'StMarieThin';*/
font-weight: 300% bold;
font-size: 50px;
}
#store .item_price, #store .total_line {
text-align: right;
}
#store .total_line .total_cell {
font-weight: bold;
border-top: 1px solid #595;
}

/* Styles for the cart in the sidebar */
#cart, #cart table {
font-size: 30px;
color: white;
}
#cart table {
border-top: 3px dotted Powderblue;
border-bottom: 3px dotted Powderblue;
margin-bottom: 10px;
}

/* START:form */
/* Styles for order form */

.depot_form fieldset {
  background: Azure;
}

.depot_form legend {
  color: Azure;
  background: Midnightblue;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.depot_form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
  margin-left: 0.5em;
}

.depot_form .submit {
  margin-left: 4em;
}

.depot_form div {
  margin: 0.5em 0;
}
/* END:form */

/* Styles for products/index */

#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   Seashell;
}

