/* Global styles */
*@font-face {
    font-family: 'StMarieThin';
    src: url('stmarie-thin-webfont.eot');
    src: url('stmarie-thin-webfont.eot?iefix') format('eot'),
         url('stmarie-thin-webfont.woff') format('woff'),
         url('stmarie-thin-webfont.ttf') format('truetype'),
         url('stmarie-thin-webfont.svg#webfont5hcmjba2') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
/*common colors
dotted purple border #77d
light purple #CCCCFF
light green #CCFFCC
light blue Azure
dark grey #383838
medium grey #686868
*/

#store .entry form, #store .entry form div {
	display: inline;
}

#store #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}


#store h1 {
    	font: Tahoma, sans-serif;
		font-size: 65px;
        color: #383838;
        border-bottom: 8px dotted #77d;
		line-height: 1.5em;
}

#store h2{
	font-size: 40px;
}

/*venue and stand double space*/
#store, #main table tr td{
	line-height: 2em;
}


/* START:mainlayout */
/* Styles for main page */

#banner {
	font: Tahoma, sans-serif;
  background: #686868;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 4em; /*not centered but leaves room for logo*/
  border-bottom: 10px solid #CCFFCC;
  color: #CCCCFF;
  text-align: left;
  font-size: 74px;
  font-weight: 500% bold;
  width: 1000px;

}

#banner img {
  float: left;
}

#columns {
  background: #383838;
  width: 1000px;

}

#main {
  margin-left: 11em; /*column width NOTE: ADJUST AFTER SIZE SMALL, 11em good with cart*/
  padding-top: 4ex;
  padding-left: 1.25em;
  background: Gainsboro;
  width: 800px;
  
}

#main2 {
  margin-left: 12.5em; /*column width NOTE: ADJUST AFTER SIZE SMALL, 12.5em for 4em good*/
  padding-top: 4ex;
  padding-left: 4em;
  padding-bottom: 10em;
  background: Gainsboro;
  font-size: 20px;
  width: 1000px;
  line-height: 1.25em;
  
}

#main2 h1{
	font-size: 40px;
}

#main2 table tr{
	font-size: 25px;
	text-align: left;
}

#main2 table td{
	font-size: 20px;
	text-align: left;
}


#side {
  float: left;
  width: 6em; /*small box width, 6em for 40px is min to get vendor login to one page*/
  position: absolute;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right: 0em;
  background: #383838;
  line-height: 1em;
}
#side2 {
  float: left;
  position: absolute;
  width: 4em; /*small box width, 4em for 20px is min to get vendor login to one page*/
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  background: #383838;
  line-height: 1em;
}

/*side font*/
#side a {
  color: Azure;
  font-size: 40px;
  line-height: 1em;
}
#side2 a {
  color: Azure;
  font-size: 15px;
  line-height: 1em;
}

#columns.cust{
	color: red;
  font-size: 24px;
}

/* END:mainlayout */

/* Styles for the cart in the main page */
#store .cart_title {
font-weight: 300% bold;
font-size: 50px;
}
#store .item_price, #store .total_line {
text-align: right;
}
#store .total_line .total_cell {
font-weight: bold;
border-top: 1px solid #595;
}

/* Styles for the cart in the sidebar */
#cart, #cart table td{
font-size: 40px;
color: white;
}
#cart .total_line td{
  font-size: 40px;
  font-style: italic;
}
#cart .total_cell{
  font-size: 40px;
  color: #CCFFCC;
  font-style: italic;
}

#cart .cart_title{
	font-weight: bold;
	color: #CCCCFF;
}

#cart table {
border-top: 3px dotted #77d;
border-bottom: 3px dotted #77d;
margin-bottom: 10px;
}

/* START:form */
/* Styles for order form */

.depot_form fieldset {
  background: Azure;
  border: 4px solid #77d;
  
}

.depot_form legend {
  color: #CCFFCC;
  background: #383838;
  border: 4px solid #CCCCFF;
  font-family: sans-serif;
  padding: 0.2em 1em;
}

.depot_form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block;
}

.depot_form select, .depot_form textarea, .depot_form input {
  margin-left: 0.5em;
}

.depot_form .submit {
  margin-left: 4em;
}

.depot_form div {
  margin: 0.5em 0;
}
/* END:form */


/*VENDOR FORMATTING

/* Styles for orders/index */
#order

/* Styles for products/index */
#product_list table {
        border-collapse: collapse;
}

#product_list table tr td {
        padding: 5px;
        vertical-align: top;
		line-height: 1.25em;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
  padding-left: 4.5em;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
        margin: 0;
}

#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#product_list .list_description dd {
        margin: 0;
}

#product_list .list_actions {
  font-size:    small;
  text-align:   right;
  padding-left: 1em;
  padding-top: 1.25em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   Seashell;
}


