IT{
	font-style:italic;
}
BD{font-weight:bold;}

body { background-color: #fff; color: #333; }



body, ol, ul{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 1.5em;
}

body, td,li{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   50px;
  line-height: 1em;	
  text-align: left;
}


h3{
  font-size:   50px;
  color: black;
  font-family: helvetica;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

 a { color: #666; }
a:visited { color: #666; }
a:hover { color: Azure; }


div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: blue;
}

.field_with_errors {
  padding: 2px;
  background-color: #FFE0E3;
  border: 2px solid red;
  display: table;
}

#error_explanation {
  width: 80%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #EBEBEB;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #FFE0E3;
  color: white;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.entry{
	color: #686868;
}
