IT {font-style:italic;}

BD {font-weight:bold;}

body { 
	background-color: black; 
	color: white; 
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 40px;
}


/*
body, ol, ul{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 1.5em;
  text-align: center;
}

body, td, li{
  font-size:   50px;
  line-height: 0.75em;	
  text-align: center;
}*/


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

 a { color: #666; }
a:visited { color: #666; }
a:hover { color: Azure; }


div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: white;
  text-align: center;
  background-color:black;
}

.field_with_errors {
  padding: 2px;
  background-color: black;
  border: 2px solid red;
  display: table;
}

#error_explanation {
  width: 80%;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: black;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: black;
  color: white;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.entry{
	color: white;
	padding-bottom: 20px;
	text-align: center;
	background-color:black;
}
