<h3>Stadium Express Order Ready</h3> <p>
This is just to let you know that your recent order is ready:
</p>
<table> <tr><th colspan="2">Qty</th><th>Description</th></tr>
<%= render @order.line_items %>
</table>