<table>
	<tr></tr>
	<tr></tr>
	<tr></tr>
</table>

<h1>Checkout</h1>


<div class="depot_form">
	<table>
		<tr>
			<td> To pay with credit card: <%= link_to "please click here", new_credit_path %> </td>
		</tr>
		<tr>
			<td colspan='2'> To pay with cash please submit the following:</td>
		</tr>
		<tr>
			<td><%= render 'form' %></td>
		</tr>
	</table>
</div>

