<table class="cart_items" width="700">
	
	<% if line_item == @current_item %>
	<tr id="current_item">
	<% else %>
	<!-- <tr class="subj">
		<% end %>
		<td>Item</td>
		<td>Quantity</td>
		<td> &nbsp</td></td><td>Price</td>
	</tr> -->
	<tr>
		<td><%= line_item.product.title  %></td><td> &nbsp</td>
		<td><%= line_item.quantity %></td><td> &nbsp</td>
		<td>
		<td class="item_price">
			<%= number_to_currency(line_item.total_price) %>
		</td><td> 
	</tr>
</table>